<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}ACN | The Association of Consultants to Nonprofits{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/typography.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
  {% block extra_css %}{% endblock %}
</head>
<body>
  {% include 'header.html' %}
  <main class="container">{% block content %}{% endblock %}</main>
  {% include 'footer.html' %}
</body>
</html>
